.modal-exit-component {
	> div {
		text-align: center;
	}

	.modal-body-component {
		text-align: center;
	}

	.modal-footer-component {
		justify-content: center;

		.form-button-component.btn-exit-cancel {
			color: #fff;
			background: #d9822b;
			border-color: #d9822b;

			&:hover {
				background: #bf7326;
				border-color: #bf7326;
			}

			&:active {
				background: #a8631f;
				border-color: #a8631f;
			}
		}
	}
}
